/*Normal page*/
.ProductBox {
  border-radius: 10px;
  border: 2px solid rgb(217, 214, 214);
  padding: 20px;
  width: 18vw;
  height: 44vh;
  align-items: center;
  overflow: hidden;
  margin-left: 16px;
}
.ProductBox img {
  max-height: 30vh;
  height: auto;

  width: 100%;
  object-fit: contain;
}
.ProductContent {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.ProductName {
  font-family: "Montserrat";
  display: -webkit-box;
  font-size: 15px;
  font-weight: bold;
  line-height: 1.5;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.Price {
  font-size: 14px;
  color: #018790;
  font-weight: bold;
}
.checked {
  color: orange;
}
.OtherHalf {
  margin: 0;
  transform: scaleX(-1);
}
.BuyButton {
  font-weight: 400;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.88);
  padding: 0 16px;
  height: 32px;
  border-radius: 15px;
  transition: all 0.25s;
  cursor: pointer;
  border: 1px solid #ceccd3;
}
.BuyButton:hover {
  background-color: #018790;
  color: white;
  transition: all 0.25s;
}
body {
  font-family: "Montserrat";
}
/*Index page*/
.ProductIndexSection {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
