.WholePage {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  flex-direction: column;
}
/*Taskbar*/
#TaskBar {
  border-bottom: 2px solid rgb(217, 214, 214);
  display: flex;
  flex-direction: row;
  padding: 10px;
  align-items: center;
  margin: 0;
  width: 100%;
}
.LogoWatermark {
  font-family: "Caveat Brush";
  font-size: 32px;
}
.Logo img {
  height: 32px;
  width: 32px;
  object-fit: contain;
}
.LogoSection {
  display: flex;
  flex-direction: row;
  gap: 10px;
  cursor: pointer;
  margin-right: auto;
  max-width: 100%;
}
.ToolSection {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  align-items: center;
  gap: 10px;
}
.icon {
  border-radius: 50%;
  font-size: 16px;
  padding: 10px;
}
.icon:hover {
  background-color: rgb(232, 230, 230);
}
/*Image*/
.IndexImage {
  width: 100%;
  max-width: 1024px;
  height: auto;
  max-height: 80vh;
  object-fit: cover;
  border-radius: 20px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}
/*Trending section*/
.TitleHeader {
  display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
body {
  padding: 0;
  margin: 0;
}
a {
  cursor: pointer;
}
