.WholePage {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  max-width: 100vw;
  scrollbar-width: none;
}
/*Taskbar*/
#TaskBar {
  border-bottom: 2px solid rgb(217, 214, 214);
  display: flex;
  flex-direction: row;
  padding: 10px;
  align-items: center;
  margin: 0;
  max-width: 100%;
  flex-wrap: wrap;
}
.LogoWatermark {
  font-family: "Caveat Brush";
  font-size: 32px;
}
.Logo img {
  height: 32px;
  width: 32px;
  object-fit: contain;
}
.LogoSection {
  display: flex;
  flex-direction: row;
  gap: 10px;
  cursor: pointer;
  max-width: 100%;
}
.ToolSection {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  align-items: center;
  gap: 10px;
  min-width: 0;
}
.icon {
  border-radius: 50%;
  font-size: 16px;
  padding: 10px;
  color: black;
}
.icon:hover {
  background-color: rgb(232, 230, 230);
}
/*Image*/
.IndexImage {
  width: 100%;
  min-width: 1024px;
  height: auto;
  max-height: 80vh;
  object-fit: cover;
  border-radius: 20px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}
/*Trending section*/
.TitleHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: row;
  margin: 20px 0 20px 0;
}
.TitleHeader div {
  position: absolute;
  right: 40px;
}
.ScrollButton {
  border-radius: 50%;
  width: 32px;
  height: 32px;
  border: solid 1px rgb(217, 214, 214);
  cursor: pointer;
}
.ScrollButton:hover{
  background-color: #00b4d8;
  color: white;
}
body {
  padding: 0;
  margin: 0;
  max-width: 100vw;
  font-family: "Montserrat";
}
a {
  cursor: pointer;
}
.Star {
  color: orange;
}
